//優惠選擇列
.eventType {
    width: 100%;
    height: auto;
    overflow-x: auto;

    ul {
        display: flex;

        li {
            width: auto;
            height: 72px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border-bottom: solid 2px transparent;
            padding: 6px 8px;

            &:active,&.active {
                border-color: $borderColor_2;

                span {
                    color: $font-color_2;
                }

                .all_ic {
                    background-position-y: 0;
                }
            }

            .all_ic {
                width: 25px;
                height: 25px;
                margin-bottom: 8px;
            }

            span {
                font-size: 12px;
                font-weight: bold;
                color: $font-color_7;
            }
        }
    }
}

//優惠列表
.eventList {
    width: 100%;
    height: calc(100vh - 174px);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px 14px 0;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 100%;
            height: auto;
            margin-bottom: 12px;

            .eventBox {
                width: 100%;
                height: auto;
                background: $backgroundColor_2;
                border-radius: 3px;
                overflow: hidden;
                border: solid 1px $borderColor_5;

                .eventImg {
                    box-sizing: border-box;
                    padding: 5px;
                    width: 100%;
                    min-height: 85px;
                    height: auto;
                }

                p {
                    width: 100%;
                    height: 36px;
                    display: flex;
                    box-sizing: border-box;
                    padding: 0 7px;
                    justify-content: flex-end;

                    button {
                        width: 95px;
                        height: 27px;
                        @include buttonStyle_5;
                        font-size: 3vw;

                        &.apply {
                            @include buttonStyle_7;
                            font-size: 3vw;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

//優惠內頁
.eventDetail {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

    .eventImg {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 5px;
    }

    .detailHeader,.detailContent {
        width: 94.13vw;
        height: auto;
        box-sizing: border-box;
        padding: 10px 15px;
        margin-top: 10px;
        background: $backgroundColor_2;
        border-radius: 3px;
        border: solid 1px $borderColor_5;

        ul {

            .title {
                width: 100%;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 10px;
                color: $font-color_8;
            }

            .content {
                display: flex;

                div {
                    color: $font-color_2;
                    font-weight: bold;
                    font-size: 14px;

                    &.smallTitle {
                        width: 20vw;
                    }

                    &.smallContent {
                        width: 62vw;
                        font-size: 12px;
                        font-weight: bold;
                        display: flex;
                        flex-wrap: wrap;
                        padding-left: 15px;
                    }
                }
            }

            .infoBox {
                
                p {
                    font-weight: bold;
                    color: $font-color_2;
                    font-style: 14px;
                    line-height: 20px;
                }
            }
        }

        .contentFooter {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
        }
    }
}